:root {
    --bug: '#52BC04';
    --dark: '#636363';
    --dragon: '#E9B057';
    --electric: '#ffeb5b';
    --fairy: '#ffdbdb';
    --fighting: '#90a4b5';
    --fire: '#F7786B';
    --flying: '#E8DCB3';
    --ghost: '#755097';
    --grass: '#2ADAB1';
    --ground: '#dbd3a2';
    --ice: '#C8DDEA';
    --normal: '#ccc';
    --poison: '#cc89ff';
    --psychic: '#F112EE';
    --rock: '#b7b7b7';
    --steel: '#999';
    --water: '#58ABF6'
}
